[defaults]
inventory=/home/centos/provision-stunnel-venv/inventory
roles_path=/home/centos/provision-stunnel-venv/roles
private_key_file=/home/centos/.ssh/centos.pem
remote_user=centos
host_key_checking=false
