cert = /etc/pki/tls/certs/stunnel.crt
key = /etc/pki/tls/private/stunnel.pem
pid = /var/run/stunnel.pid
output = /var/log/stunnel.log

[from{{ stunnel_port }}]
client = no
accept = {{ ansible_default_ipv4.address }}:{{ stunnel_port }}
connect = 127.0.0.1:{{ squid_port }}
